recursive-include betalens *.py
recursive-include betalens_db_manager *.py *.yaml
recursive-include betalens_db_manager/migrations *.sql
recursive-include betalens_db_manager/assets *.ico
exclude betalens/tests/*
exclude betalens/gitworks/*
prune betalens/tests
prune betalens/gitworks
prune **/__pycache__
global-exclude *.pyc
global-exclude __pycache__

